<!DOCTYPE html>
<html>
        <head>
            <title>
                ::ContactUs::
            </title>
        </head>
    <body>
        <h2 align=center>Django CRUD Operations</h2><hr color="red"><hr color="red">
        <a href="{% url 'index' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'adminlogin'  %}">Admin</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'userreg'   %}">User Registration</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'userlogin'   %}">User Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'contact' %}">Contact Us</a>
        <br><br><br>

        




    </body>
</html>