<!DOCTYPE html>
<html>
        <head>
            <title>
                ::USER HOME::
            </title>
        </head>
    <body>
        <h2 align=center>Welcome {{uname}}</h2><hr color="red"><hr color="red">
        <br><br>
        <a href="{% url 'userhome' %}">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'changepwd' %}">Change password</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'searchcontent' %}">Search Content</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'ulogout' %}">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;

        




    </body>
</html>